# Byte-compiled / optimized / DLL files
.idea/

.cache
.tox
__pycache__/
*.py[cod]
*$py.class
build/
*.egg-info
*.egg

.coverage
.pytest_cache

venv/
.venv/

# Sphinx documentation
docs/_build/
docs/_static/
docs/_templates/
