[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.6'

[packages]
aiohttp = "*"
aiohttp_apiset = "*"
aioworkers = "*"
aioworkers-aiohttp = "*"
django = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
django-mptt = "*"
babel = "*"

[dev-packages]
aiohttp_jinja2 = "*"
aioredis = "*"
openpyxl = "*"
Pillow = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-flake8 = "*"
pytest-mock = "*"
pytest-mypy = "*"
pytest-pythonpath = "*"
pytest-aiohttp = "*"
aioresponses = "*"
aioauth-client = "*"
asyncpgsa = "*"
python-jose = "*"
mypy = "*"
